<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brainsflow.projetoctr">

    <uses-permission android:nome="android.permission.INTERNET" />
    <uses-permission
        android:nome="android.permission.TRANSMIT_IR"
        android:required="false" />

    <uses-feature android:nome="android.hardware.consumerir" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:nome=".activities.AuthActivity">
            <intent-filter>
                <action android:nome="android.intent.action.MAIN" />
                <action android:nome="br.com.brainsflow.projetoctr.activities.AuthActivity" />

                <category android:nome="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:nome=".activities.BaseActivity" />
        <activity
            android:nome=".activities.RemoteControlActivity"
            android:screenOrientation="portrait" />
        <activity android:nome=".activities.RascunhoActivity" />
        <activity
            android:nome=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>